Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"

feat(extra): add aerc mail client theme (#502)
  extras/aerc/tokyonight_day.ini
  extras/aerc/tokyonight_moon.ini
  extras/aerc/tokyonight_night.ini
  extras/aerc/tokyonight_storm.ini
  lua/tokyonight/extra/aerc.lua
  lua/tokyonight/extra/init.lua
Labels: extras

ci: update
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/stale.yml
  .gitignore
  scripts/docs
  scripts/test
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

ci: trigger build
  tests/minit.lua
Labels: none

style: formatting
  lua/tokyonight/extra/gnome_terminal.lua
Labels: extras

ci: add build script for extras
  scripts/build
Labels: none

docs: build script
  README.md
  extras/gen
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

ci: update
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .gitignore
  tests/run
Labels: none

fix(vimwiki): `VimwikiHeader` highlights and URL metadata
  lua/tokyonight/groups/vimwiki.lua
Labels: groups

fix(vimwiki): `VimwikiHeader` highlights and URL metadata (#575)
  lua/tokyonight/groups/vimwiki.lua
Labels: groups

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix: use `LeapLabel`
  lua/tokyonight/groups/leap.lua
Labels: groups

ci: update
  .github/workflows/update.yml
Labels: none

chore(update): update repository
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore(update): update repository
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

fix(extras): use `LeapLabel`
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

fix: use `LeapLabel`
  lua/tokyonight/groups/leap.lua
Labels: groups

fix(leap): use `LeapLabel` (#582)
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  lua/tokyonight/groups/leap.lua
Labels: groups

chore(update): update repository
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

ci: update
  .gitignore
Labels: none

ci: update
  .gitignore
Labels: none

feat: add dashboard hyper theme
  lua/tokyonight/groups/dashboard.lua
Labels: groups

fix: add missing comma and align
  lua/tokyonight/groups/dashboard.lua
Labels: groups

fix: capitalise "C"
  lua/tokyonight/groups/dashboard.lua
Labels: groups

feat(fish): add `fish_color_option`
  lua/tokyonight/extra/fish.lua
  lua/tokyonight/extra/fish_themes.lua
Labels: extras

feat(zellij): make top and bottom bars transparent
  lua/tokyonight/extra/zellij.lua
Labels: extras

feat(fish): add `fish_color_option` (#586)
  lua/tokyonight/extra/fish.lua
  lua/tokyonight/extra/fish_themes.lua
Labels: extras

chore(build): auto-generated build files
  extras/fish/tokyonight_day.fish
  extras/fish/tokyonight_moon.fish
  extras/fish/tokyonight_night.fish
  extras/fish/tokyonight_storm.fish
  extras/fish_themes/tokyonight_day.theme
  extras/fish_themes/tokyonight_moon.theme
  extras/fish_themes/tokyonight_night.theme
  extras/fish_themes/tokyonight_storm.theme
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(dashboard): add dashboard hyper theme (#585)
  lua/tokyonight/groups/dashboard.lua
Labels: groups

feat(zellij): make top and bottom bars transparent (#587)
  lua/tokyonight/extra/zellij.lua
Labels: extras

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/zellij/tokyonight_day.kdl
  extras/zellij/tokyonight_moon.kdl
  extras/zellij/tokyonight_night.kdl
  extras/zellij/tokyonight_storm.kdl
Labels: none

chore(build): auto-generate docs
  README.md
Labels: none

fix(theme): apply terminal colors right away. Fixes #591
  lua/tokyonight/theme.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(fish): use magenta for option color
  extras/fish/tokyonight_day.fish
  extras/fish/tokyonight_moon.fish
  extras/fish/tokyonight_night.fish
  extras/fish/tokyonight_storm.fish
  extras/fish_themes/tokyonight_day.theme
  extras/fish_themes/tokyonight_moon.theme
  extras/fish_themes/tokyonight_night.theme
  extras/fish_themes/tokyonight_storm.theme
  lua/tokyonight/extra/fish.lua
  lua/tokyonight/extra/fish_themes.lua
Labels: extras

fix(nvim-tree): corrected plugin name. Fixes #593
  lua/tokyonight/groups/init.lua
Labels: groups

chore(update): update repository
  scripts/test
Labels: none
