Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"

feat: added support for blink.cmp
  lua/tokyonight/groups/blink.lua
  lua/tokyonight/groups/init.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat: copilot ghost text
  lua/tokyonight/groups/copilot.lua
  lua/tokyonight/groups/init.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat: added support for snacks.nvim
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat: added support for supermaven & codeium
  lua/tokyonight/groups/codeium.lua
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/supermaven.lua
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(snacks): dashboard styles
  lua/tokyonight/groups/dashboard.lua
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix(alacritty): update alacritty theme to use the new terminal colors (#656)
  lua/tokyonight/extra/alacritty.lua
Labels: extras

chore(build): auto-generated build files
  extras/alacritty/tokyonight_day.toml
  extras/alacritty/tokyonight_moon.toml
  extras/alacritty/tokyonight_night.toml
  extras/alacritty/tokyonight_storm.toml
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(snacks): profiler hl groups
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat: better rainbow colors
  lua/tokyonight/colors/init.lua
  lua/tokyonight/groups/mini_icons.lua
Labels: groups, colors

feat(snacks): hl groups for upcoming plugins
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(snakcks): more groups
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): add (better-)discord theme
  lua/tokyonight/colors/day.lua
  lua/tokyonight/colors/moon.lua
  lua/tokyonight/colors/night.lua
  lua/tokyonight/colors/storm.lua
  lua/tokyonight/extra/discord.lua
  lua/tokyonight/extra/init.lua
Labels: extras, colors

fix(extra): (better-)discord adjust channel icon color
  lua/tokyonight/extra/discord.lua
Labels: extras

feat(extra): add (better-)discord theme (#662)
  lua/tokyonight/colors/day.lua
  lua/tokyonight/colors/moon.lua
  lua/tokyonight/colors/night.lua
  lua/tokyonight/colors/storm.lua
  lua/tokyonight/extra/discord.lua
  lua/tokyonight/extra/init.lua
Labels: extras, colors

chore(build): auto-generated build files
  extras/discord/tokyonight_day.css
  extras/discord/tokyonight_moon.css
  extras/discord/tokyonight_night.css
  extras/discord/tokyonight_storm.css
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix(aerc): make diff colors more readable
  extras/aerc/tokyonight_day.ini
  extras/aerc/tokyonight_moon.ini
  extras/aerc/tokyonight_night.ini
  extras/aerc/tokyonight_storm.ini
  lua/tokyonight/extra/aerc.lua
Labels: extras

fix(blink): blink highlight group additions
  lua/tokyonight/groups/blink.lua
Labels: groups

fix(extra): (better-)discord improve status coloring
  lua/tokyonight/extra/discord.lua
Labels: extras

fix(color): slightly adjust bg_dark1 for tokyonight_night
  lua/tokyonight/colors/night.lua
Labels: colors

fix(extra): (better-)discord minor color adjustments
  lua/tokyonight/extra/discord.lua
Labels: extras

feat(extras): update for yazi 0.4
  lua/tokyonight/extra/yazi.lua
Labels: extras

docs(extras): improve ghostty readme
  extras/ghostty/README.md
Labels: none
