Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): add Vivaldi Browser themes (#702)
  extras/vivaldi/README.md
  extras/vivaldi/build
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/vivaldi.lua
Labels: extras

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

style: format
  lua/tokyonight/extra/helix.lua
  lua/tokyonight/extra/qterminal.lua
Labels: extras

Fix eza themes
  extras/eza/tokyonight_day.yml
  extras/eza/tokyonight_moon.yml
  extras/eza/tokyonight_night.yml
  extras/eza/tokyonight_storm.yml
Labels: none

fix(eza): fix yaml theme (#745)
  extras/eza/tokyonight_day.yml
  extras/eza/tokyonight_moon.yml
  extras/eza/tokyonight_night.yml
  extras/eza/tokyonight_storm.yml
Labels: none

chore(build): auto-generated build files
  extras/eza/tokyonight_day.yml
  extras/eza/tokyonight_moon.yml
  extras/eza/tokyonight_night.yml
  extras/eza/tokyonight_storm.yml
Labels: none

fix(eza): fix missing closing quote in group_other foreground color
  lua/tokyonight/extra/eza.lua
Labels: extras

chore(build): auto-generated build files
  extras/eza/tokyonight_day.yml
  extras/eza/tokyonight_moon.yml
  extras/eza/tokyonight_night.yml
  extras/eza/tokyonight_storm.yml
Labels: none

fix(barbar): add highlight groups for gitsigns (#727)
  lua/tokyonight/groups/barbar.lua
Labels: groups

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

chore(update): update repository
  .markdownlint-cli2.yaml
Labels: none

chore(build): auto-generated vimdocs
  doc/tokyonight.nvim.txt
Labels: none

feat(treesitter): heading background color
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

feat(snacks): better diff header for gh
  lua/tokyonight/groups/snacks.lua
Labels: groups

feat: add Xcode theme generation
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/xcode.lua
  scripts/build
Labels: extras

feat(extra): update for yazi
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extras): update tab configuration
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): update yazi theme for yazi new release (#687)
  lua/tokyonight/extra/yazi.lua
Labels: extras

fix(extras): edit name to match iSH.lua file for genertate colorschemes
  lua/tokyonight/extra/init.lua
Labels: extras

ci: build should fail if extra gen fails
  lua/tokyonight/extra/init.lua
  scripts/build
Labels: extras

fix(extras.ish): fix filename. Closes #750
  lua/tokyonight/extra/ish.lua
Labels: extras

chore(build): auto-generated docs
  extras/vivaldi/tokyonight_day.json
  extras/vivaldi/tokyonight_day_blue.json
  extras/vivaldi/tokyonight_day_green.json
  extras/vivaldi/tokyonight_day_magenta.json
  extras/vivaldi/tokyonight_day_orange.json
  extras/vivaldi/tokyonight_day_purple.json
  extras/vivaldi/tokyonight_day_red.json
  extras/vivaldi/tokyonight_day_teal.json
  extras/vivaldi/tokyonight_day_yellow.json
  extras/vivaldi/tokyonight_moon.json
  extras/vivaldi/tokyonight_moon_blue.json
  extras/vivaldi/tokyonight_moon_green.json
  extras/vivaldi/tokyonight_moon_magenta.json
  extras/vivaldi/tokyonight_moon_orange.json
  extras/vivaldi/tokyonight_moon_purple.json
  extras/vivaldi/tokyonight_moon_red.json
  extras/vivaldi/tokyonight_moon_teal.json
  extras/vivaldi/tokyonight_moon_yellow.json
  extras/vivaldi/tokyonight_night.json
  extras/vivaldi/tokyonight_night_blue.json
  extras/vivaldi/tokyonight_night_green.json
  extras/vivaldi/tokyonight_night_magenta.json
  extras/vivaldi/tokyonight_night_orange.json
  extras/vivaldi/tokyonight_night_purple.json
  extras/vivaldi/tokyonight_night_red.json
  extras/vivaldi/tokyonight_night_teal.json
  extras/vivaldi/tokyonight_night_yellow.json
  extras/vivaldi/tokyonight_storm.json
  extras/vivaldi/tokyonight_storm_blue.json
  extras/vivaldi/tokyonight_storm_green.json
  extras/vivaldi/tokyonight_storm_magenta.json
  extras/vivaldi/tokyonight_storm_orange.json
  extras/vivaldi/tokyonight_storm_purple.json
  extras/vivaldi/tokyonight_storm_red.json
  extras/vivaldi/tokyonight_storm_teal.json
  extras/vivaldi/tokyonight_storm_yellow.json
Labels: none

fix(extras.vivaldi): remove variants (that's not a thing), make uuid deterministic and rebuild all
  extras/vivaldi/README.md
  extras/vivaldi/tokyonight_day.json
  extras/vivaldi/tokyonight_day_blue.json
  extras/vivaldi/tokyonight_day_green.json
  extras/vivaldi/tokyonight_day_magenta.json
  extras/vivaldi/tokyonight_day_orange.json
  extras/vivaldi/tokyonight_day_purple.json
  extras/vivaldi/tokyonight_day_red.json
  extras/vivaldi/tokyonight_day_teal.json
  extras/vivaldi/tokyonight_day_yellow.json
  extras/vivaldi/tokyonight_moon.json
  extras/vivaldi/tokyonight_moon_blue.json
  extras/vivaldi/tokyonight_moon_green.json
  extras/vivaldi/tokyonight_moon_magenta.json
  extras/vivaldi/tokyonight_moon_orange.json
  extras/vivaldi/tokyonight_moon_purple.json
  extras/vivaldi/tokyonight_moon_red.json
  extras/vivaldi/tokyonight_moon_teal.json
  extras/vivaldi/tokyonight_moon_yellow.json
  extras/vivaldi/tokyonight_night.json
  extras/vivaldi/tokyonight_night_blue.json
  extras/vivaldi/tokyonight_night_green.json
  extras/vivaldi/tokyonight_night_magenta.json
  extras/vivaldi/tokyonight_night_orange.json
  extras/vivaldi/tokyonight_night_purple.json
  extras/vivaldi/tokyonight_night_red.json
  extras/vivaldi/tokyonight_night_teal.json
  extras/vivaldi/tokyonight_night_yellow.json
  extras/vivaldi/tokyonight_storm.json
  extras/vivaldi/tokyonight_storm_blue.json
  extras/vivaldi/tokyonight_storm_green.json
  extras/vivaldi/tokyonight_storm_magenta.json
  extras/vivaldi/tokyonight_storm_orange.json
  extras/vivaldi/tokyonight_storm_purple.json
  extras/vivaldi/tokyonight_storm_red.json
  extras/vivaldi/tokyonight_storm_teal.json
  extras/vivaldi/tokyonight_storm_yellow.json
  lua/tokyonight/extra/vivaldi.lua
Labels: extras

docs: added CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: none

chore(build): auto-generated build files
  extras/opencode/tokyonight_day.json
  extras/opencode/tokyonight_moon.json
  extras/opencode/tokyonight_night.json
  extras/opencode/tokyonight_storm.json
Labels: none

chore(build): auto-generated docs
  extras/opencode/tokyonight_day.json
  extras/opencode/tokyonight_moon.json
  extras/opencode/tokyonight_night.json
  extras/opencode/tokyonight_storm.json
Labels: none

chore(build): auto-generated vimdocs
  doc/tokyonight.nvim.txt
Labels: none

ci: gen
  extras/opencode/tokyonight_day.json
  extras/opencode/tokyonight_moon.json
  extras/opencode/tokyonight_night.json
  extras/opencode/tokyonight_storm.json
Labels: none

fix(extras.opencode): made opencode gen idempotent
  lua/tokyonight/extra/fzf.lua
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/opencode.lua
  lua/tokyonight/theme.lua
Labels: extras

chore(update): update repository
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat(extra): add Gemini CLI theme
  extras/gemini_cli/README.md
  lua/tokyonight/extra/gemini_cli.lua
  lua/tokyonight/extra/init.lua
Labels: extras

fix(extras.yazi): fix broken yazi theme
  lua/tokyonight/extra/yazi.lua
Labels: extras

fix(extras): use tmux format conditional for 12h/24h clock
  lua/tokyonight/extra/tmux.lua
Labels: extras

fix(extras/foot): cursor color
  extras/foot/tokyonight_day.ini
  extras/foot/tokyonight_moon.ini
  extras/foot/tokyonight_night.ini
  extras/foot/tokyonight_storm.ini
Labels: none

update(foot): config to match foot 1.26.0
  extras/foot/tokyonight_day.ini
  extras/foot/tokyonight_moon.ini
  extras/foot/tokyonight_night.ini
  extras/foot/tokyonight_storm.ini
Labels: none

fix(foot): config to match foot 1.26.0
  extras/foot/tokyonight_day.ini
  extras/foot/tokyonight_moon.ini
  extras/foot/tokyonight_night.ini
  extras/foot/tokyonight_storm.ini
Labels: none

feat(snacks): diff label
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

feat(extras): added extra for pi coding agent
  README.md
  extras/pi/tokyonight_day.json
  extras/pi/tokyonight_moon.json
  extras/pi/tokyonight_night.json
  extras/pi/tokyonight_storm.json
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/pi.lua
Labels: extras

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
