Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

chore(build): auto-generated vimdocs
  doc/tokyonight.nvim.txt
Labels: none

chore(update): update repository
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat(extra): add Gemini CLI theme (#755)
  extras/gemini_cli/README.md
  lua/tokyonight/extra/gemini_cli.lua
  lua/tokyonight/extra/init.lua
Labels: extras

chore(build): auto-generated build files
  extras/gemini_cli/tokyonight_day.json
  extras/gemini_cli/tokyonight_moon.json
  extras/gemini_cli/tokyonight_night.json
  extras/gemini_cli/tokyonight_storm.json
Labels: none

chore(build): auto-generated docs
  README.md
Labels: none

chore(build): auto-generated vimdocs
  doc/tokyonight.nvim.txt
Labels: none

style: formatr
  lua/tokyonight/extra/gemini_cli.lua
Labels: extras

fix: avoid setting background on first load to prevent breaking Neovim TUI CSI 2031 term response autocmd
  lua/tokyonight/init.lua
Labels: none

fix(extras.pi): brighten diff colors to increase readability
  lua/tokyonight/extra/pi.lua
Labels: extras

fix(extra.pi): change code block font from bg to fg
  lua/tokyonight/extra/pi.lua
Labels: extras

fix(foot): config to match foot 1.26.0
  extras/foot/tokyonight_day.ini
  extras/foot/tokyonight_moon.ini
  extras/foot/tokyonight_night.ini
  extras/foot/tokyonight_storm.ini
Labels: none

Add Atuin themes
  extras/atuin/README.md
  lua/tokyonight/extra/atuin.lua
  lua/tokyonight/extra/init.lua
Labels: extras

Fix README style extension
  extras/atuin/README.md
Labels: none

fix(extras.bufferline): Fix selected buffer indicator background
  lua/tokyonight/groups/bufferline.lua
Labels: groups

add colors to README.md
  README.md
Labels: none

Update schema syntax
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extras.sqlit): add themes for sqlit
  extras/sqlit/tokyonight_day.json
  extras/sqlit/tokyonight_moon.json
  extras/sqlit/tokyonight_night.json
  extras/sqlit/tokyonight_storm.json
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/sqlit.lua
Labels: extras

feat(extras.claude_code): add theme for Claude Code
  extras/claude_code/tokyonight_day.json
  extras/claude_code/tokyonight_moon.json
  extras/claude_code/tokyonight_night.json
  extras/claude_code/tokyonight_storm.json
  lua/tokyonight/extra/claude_code.lua
  lua/tokyonight/extra/init.lua
Labels: extras

fix(extra yazi): replace `name` with `url` in `filetype.rules`
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(highlight): set @lsp.types.variable to @variable
  lua/tokyonight/groups/semantic_tokens.lua
Labels: groups, base

fix(aerc): make diff colors more readable
  extras/aerc/tokyonight_day.ini
  extras/aerc/tokyonight_moon.ini
  extras/aerc/tokyonight_night.ini
  extras/aerc/tokyonight_storm.ini
  lua/tokyonight/extra/aerc.lua
Labels: extras

feat(extra): kakoune theme
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/kakoune.lua
Labels: extras

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
