Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

style(treesitter): add treesitter tag.builtin keyword
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

feat: helpExample (checkhealth)
  lua/tokyonight/groups/base.lua
Labels: groups, base

fix(treesitter): make jsx tags the same as tsx. Closes #597
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

ci: mini.test and new repro template
  .github/ISSUE_TEMPLATE/bug_report.yml
  scripts/test
Labels: none

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

chore(update): update repository
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore(update): update repository
  .editorconfig
Labels: none

fix(which-key): WhichKeyNormal
  lua/tokyonight/groups/which-key.lua
Labels: groups

feat: allow adding custom palettes. Fixes #595
  lua/tokyonight/colors/init.lua
Labels: colors

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(update): update repository
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

chore(update): update repository
  .editorconfig
Labels: none

docs: recipe to modify a style
  README.md
Labels: none

feat: added support for grug-far.nvim
  lua/tokyonight/groups/grug-far.lua
  lua/tokyonight/groups/init.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extras): add process-compose extra
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/process_compose.lua
Labels: extras

feat(extras): add process-compose extra (#606)
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/process_compose.lua
Labels: extras

chore(build): auto-generated build files
  extras/process_compose/tokyonight_day.yaml
  extras/process_compose/tokyonight_moon.yaml
  extras/process_compose/tokyonight_night.yaml
  extras/process_compose/tokyonight_storm.yaml
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

Add Vimium theme
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/vimium.lua
Labels: extras

feat(extras): add Vimium theme (#607)
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/vimium.lua
Labels: extras

chore(build): auto-generated build files
  extras/vimium/tokyonight_day.css
  extras/vimium/tokyonight_moon.css
  extras/vimium/tokyonight_night.css
  extras/vimium/tokyonight_storm.css
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extras): add fuzzel theme
  lua/tokyonight/extra/fuzzel.lua
  lua/tokyonight/extra/init.lua
Labels: extras

fix(extras): use PmenuSel as selected bg for fuzzel
  lua/tokyonight/extra/fuzzel.lua
Labels: extras

feat(extras): add fuzzel theme (#611)
  lua/tokyonight/extra/fuzzel.lua
  lua/tokyonight/extra/init.lua
Labels: extras

chore(build): auto-generated build files
  extras/fuzzel/tokyonight_day.ini
  extras/fuzzel/tokyonight_moon.ini
  extras/fuzzel/tokyonight_night.ini
  extras/fuzzel/tokyonight_storm.ini
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

ci: update
  .github/workflows/stale.yml
  .github/workflows/update.yml
Labels: none

feat: grug-far
  lua/tokyonight/groups/grug-far.lua
Labels: groups

feat: added support for markdown.nvim
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/markdown.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix(markdown.nvim): link
  lua/tokyonight/groups/markdown.lua
Labels: groups

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat: inline code style for markdown.nvim
  lua/tokyonight/groups/markdown.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
