Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

refactor(render-markdown): rename markdown.nvim to new name render-markdown.nvim
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/render-markdown.lua
Labels: groups

fix: make MiniTablineTabpagesection more visible
  lua/tokyonight/groups/mini_tabline.lua
Labels: groups

fix(tmux): use 24h format
  extras/tmux/tokyonight_day.tmux
  extras/tmux/tokyonight_moon.tmux
  extras/tmux/tokyonight_night.tmux
  extras/tmux/tokyonight_storm.tmux
Labels: none

fix(mini_tabline): make MiniTablineTabpagesection more visible (#621)
  lua/tokyonight/groups/mini_tabline.lua
Labels: groups

refactor(render-markdown): rename markdown.nvim to new name render-ma… (#620)
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/render-markdown.lua
Labels: groups

fix(tmux): use 24h format (#624)
  extras/tmux/tokyonight_day.tmux
  extras/tmux/tokyonight_moon.tmux
  extras/tmux/tokyonight_night.tmux
  extras/tmux/tokyonight_storm.tmux
Labels: none

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/tmux/tokyonight_day.tmux
  extras/tmux/tokyonight_moon.tmux
  extras/tmux/tokyonight_night.tmux
  extras/tmux/tokyonight_storm.tmux
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix: fix signcolumn and foldcolumn colors with respect to lineNr and make it work properly with dim_inactive feature
  lua/tokyonight/groups/base.lua
Labels: groups, base

feat: add borderless fzf-lua highlights
  README.md
Labels: none

fix: reorder cursorline fold and sign highlights
  lua/tokyonight/groups/base.lua
Labels: groups, base

fix: reorder cursorline fold and sign highlights
  lua/tokyonight/groups/base.lua
Labels: groups, base

fix: change bg from bg to bg_float
  README.md
Labels: none

fix: changing the transparent option now correctly invalidates the cache
  lua/tokyonight/groups/init.lua
Labels: groups

feat(supermaven): add support for supermaven-nvim
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  lua/tokyonight/groups/cmp.lua
Labels: groups

fix(groups): changing the transparent option now correctly invalidates the cache (#632)
  lua/tokyonight/groups/init.lua
Labels: groups

feat(supermaven): add support for supermaven-nvim (#633)
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  lua/tokyonight/groups/cmp.lua
Labels: groups

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix: fix winseparator highlights for dim_inactive true
  lua/tokyonight/groups/base.lua
Labels: groups, base

fix(zathura): highlight transparency
  extras/zathura/tokyonight_day.zathurarc
  extras/zathura/tokyonight_moon.zathurarc
  extras/zathura/tokyonight_night.zathurarc
  extras/zathura/tokyonight_storm.zathurarc
Labels: none

fix(zathura): highlight transparency (#638)
  extras/zathura/tokyonight_day.zathurarc
  extras/zathura/tokyonight_moon.zathurarc
  extras/zathura/tokyonight_night.zathurarc
  extras/zathura/tokyonight_storm.zathurarc
Labels: none

chore(build): auto-generated build files
  extras/zathura/tokyonight_day.zathurarc
  extras/zathura/tokyonight_moon.zathurarc
  extras/zathura/tokyonight_night.zathurarc
  extras/zathura/tokyonight_storm.zathurarc
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(which-key): delete duplicate WhichKeySeparator group
  lua/tokyonight/groups/which-key.lua
Labels: groups

fix(terminal): assign magenta to correct terminal color
  lua/tokyonight/theme.lua
Labels: none

feat(completion): add PmenuMatch and PmenuMatchSel
  lua/tokyonight/groups/base.lua
Labels: groups, base

fix(terminal): assign magenta to correct terminal color (#640)
  lua/tokyonight/groups/base.lua
  lua/tokyonight/theme.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

Add rgba prefixes
  lua/tokyonight/extra/zathura.lua
Labels: extras

Add todo comment
  lua/tokyonight/extra/zathura.lua
Labels: extras

Trim # from start of string
  lua/tokyonight/extra/zathura.lua
Labels: extras

hack: add back # for the options that need it
  lua/tokyonight/extra/zathura.lua
Labels: extras

fix: forgot two other options that use hex codes
  lua/tokyonight/extra/zathura.lua
Labels: extras

Undo hacks trim #
  lua/tokyonight/extra/zathura.lua
Labels: extras

Add alpha argument for rgba
  lua/tokyonight/extra/zathura.lua
Labels: extras

Convert hex codes into decimals
  lua/tokyonight/extra/zathura.lua
Labels: extras

Pass all other colors normally
  lua/tokyonight/extra/zathura.lua
Labels: extras

fix: string interpolation for green color now functions properly
  lua/tokyonight/extra/zathura.lua
Labels: extras

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
