Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"

feat(plugins): added support for sidekick.nvim
  lua/tokyonight/colors/init.lua
  lua/tokyonight/groups/init.lua
  lua/tokyonight/groups/sidekick.lua
Labels: groups, colors

chore(build): auto-generated build files
  extras/aerc/tokyonight_day.ini
  extras/aerc/tokyonight_moon.ini
  extras/aerc/tokyonight_night.ini
  extras/aerc/tokyonight_storm.ini
  extras/delta/tokyonight_day.gitconfig
  extras/delta/tokyonight_moon.gitconfig
  extras/delta/tokyonight_night.gitconfig
  extras/delta/tokyonight_storm.gitconfig
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

ci: update test scripts
  scripts/test
  tests/minit.lua
  vim.toml
  vim.yml
Labels: none

ci: update minit.lua
  tests/minit.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): added themes for Konsole
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/konsole.lua
Labels: extras

fix(extra yazi): replace deprecated `manager` table (#721)
  lua/tokyonight/extra/yazi.lua
Labels: extras

chore(build): auto-generated build files
  extras/yazi/tokyonight_day.toml
  extras/yazi/tokyonight_moon.toml
  extras/yazi/tokyonight_night.toml
  extras/yazi/tokyonight_storm.toml
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extras): added themes for Konsole
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/konsole.lua
Labels: extras

fix(extra spotify_player): use terminal.white for white (#693)
  lua/tokyonight/extra/spotify_player.lua
Labels: extras

fix(groups): transparent bufferline background (#677)
  lua/tokyonight/groups/base.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/spotify_player/tokyonight_day.toml
  extras/spotify_player/tokyonight_moon.toml
  extras/spotify_player/tokyonight_night.toml
  extras/spotify_player/tokyonight_storm.toml
Labels: none

docs(extras): improve ghostty readme (#669)
  extras/ghostty/README.md
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): add Tailwind CSS v4 (#701)
  extras/tailwindv4/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/tailwindv4.lua
Labels: extras

chore(build): auto-generated build files
  extras/tailwindv4/tokyonight_day.css
  extras/tailwindv4/tokyonight_moon.css
  extras/tailwindv4/tokyonight_night.css
  extras/tailwindv4/tokyonight_storm.css
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

fix(snacks): new footer keys
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

feat(extra): add btop themes (#711)
  lua/tokyonight/extra/btop.lua
  lua/tokyonight/extra/init.lua
Labels: extras

feat(extras): added themes for Konsole (#742)
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/konsole.lua
Labels: extras

feat(extra): add themes for opencode (#723)
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/opencode.lua
Labels: extras

chore(build): auto-generated build files
  extras/btop/tokyonight_day.theme
  extras/btop/tokyonight_moon.theme
  extras/btop/tokyonight_night.theme
  extras/btop/tokyonight_storm.theme
  extras/konsole/tokyonight_day.colorscheme
  extras/konsole/tokyonight_moon.colorscheme
  extras/konsole/tokyonight_night.colorscheme
  extras/konsole/tokyonight_storm.colorscheme
  extras/opencode/tokyonight_day.json
  extras/opencode/tokyonight_moon.json
  extras/opencode/tokyonight_night.json
  extras/opencode/tokyonight_storm.json
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): migrate eza to theme builder (#708)
  extras/eza/README.md
  extras/eza/tokyonight.yml
  lua/tokyonight/extra/eza.lua
  lua/tokyonight/extra/init.lua
Labels: extras

feat(extra): add aider theme (#706)
  extras/aider/README.md
  lua/tokyonight/extra/aider.lua
  lua/tokyonight/extra/init.lua
Labels: extras

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

chore(build): auto-generated build files
  extras/aider/tokyonight_day.yml
  extras/aider/tokyonight_moon.yml
  extras/aider/tokyonight_night.yml
  extras/aider/tokyonight_storm.yml
  extras/eza/tokyonight_day.yml
  extras/eza/tokyonight_moon.yml
  extras/eza/tokyonight_night.yml
  extras/eza/tokyonight_storm.yml
Labels: none

fix(extra): cleanup alacritty theme (#704)
  lua/tokyonight/extra/alacritty.lua
Labels: extras

chore(build): auto-generated build files
  extras/alacritty/tokyonight_day.toml
  extras/alacritty/tokyonight_moon.toml
  extras/alacritty/tokyonight_night.toml
  extras/alacritty/tokyonight_storm.toml
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): add active buffer styling for helix (#694)
  lua/tokyonight/extra/helix.lua
Labels: extras

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
Labels: none

chore(build): auto-generated build files
  extras/opencode/tokyonight_day.json
  extras/opencode/tokyonight_moon.json
  extras/opencode/tokyonight_night.json
  extras/opencode/tokyonight_storm.json
Labels: none

fix(fish): extra indent (#719)
  lua/tokyonight/extra/fish.lua
  lua/tokyonight/extra/fish_themes.lua
Labels: extras

feat(extras): added qterminal theme (#712)
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/qterminal.lua
Labels: extras

feat(extra): add theme for ish (#710)
  lua/tokyonight/extra/iSH.lua
  lua/tokyonight/extra/init.lua
Labels: extras

chore(build): auto-generated build files
  extras/fish/tokyonight_day.fish
  extras/fish/tokyonight_moon.fish
  extras/fish/tokyonight_night.fish
  extras/fish/tokyonight_storm.fish
  extras/fish_themes/tokyonight_day.theme
  extras/fish_themes/tokyonight_moon.theme
  extras/fish_themes/tokyonight_night.theme
  extras/fish_themes/tokyonight_storm.theme
Labels: none
