Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

fix(yazi): update yazi theme to use the new syntax
  extras/yazi/tokyonight_day.toml
  extras/yazi/tokyonight_moon.toml
  extras/yazi/tokyonight_night.toml
  extras/yazi/tokyonight_storm.toml
Labels: none

feat(extras): update for yazi 0.4 (#671)
  lua/tokyonight/extra/yazi.lua
Labels: extras

chore(build): auto-generated build files
  extras/yazi/tokyonight_day.toml
  extras/yazi/tokyonight_moon.toml
  extras/yazi/tokyonight_night.toml
  extras/yazi/tokyonight_storm.toml
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(blink): blink highlight group additions (#666)
  lua/tokyonight/groups/blink.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

feat(snacks): tmp hl groups for testing snacks picker
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix: import module color
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

feat(snacks): flags
  lua/tokyonight/groups/snacks.lua
Labels: groups

fix: transparent bufferline background
  lua/tokyonight/groups/base.lua
Labels: groups, base

feat(snacks): support for `edit_win`
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(snacks): EditWin => PickWin
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

feat(snacks): added hl groups for pick win current
  lua/tokyonight/groups/snacks.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(extra fzf): shell escaping
  lua/tokyonight/extra/fzf.lua
Labels: extras

fix(extra fzf): shell escaping (#678)
  lua/tokyonight/extra/fzf.lua
Labels: extras

chore(build): auto-generated build files
  extras/fzf/tokyonight_day.sh
  extras/fzf/tokyonight_moon.sh
  extras/fzf/tokyonight_night.sh
  extras/fzf/tokyonight_storm.sh
Labels: none

chore(build): auto-generated build files
  README.md
  extras/fzf/tokyonight_day.sh
  extras/fzf/tokyonight_moon.sh
  extras/fzf/tokyonight_night.sh
  extras/fzf/tokyonight_storm.sh
  extras/posting/tokyonight.yaml
Labels: none

feat(extra): add https://monkeytype.com theme
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/monkeytype.lua
Labels: extras

fix(aerc): make diff colors more readable
  extras/aerc/tokyonight_day.ini
  extras/aerc/tokyonight_moon.ini
  extras/aerc/tokyonight_night.ini
  extras/aerc/tokyonight_storm.ini
  lua/tokyonight/extra/aerc.lua
Labels: extras

feat(git): better `git` highlights
  lua/tokyonight/groups/base.lua
  lua/tokyonight/groups/snacks.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(vim): colors_name. Closes #686
  lua/tokyonight/extra/vim.lua
Labels: extras

chore(build): auto-generated build files
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(treesitter): import module color (#674)
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extra): update status line for yazi v25.2.11
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): add fallback filename color for yazi
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): edit progress bar in yazi
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): edit yazi copy/cut/select indicator color
  lua/tokyonight/extra/yazi.lua
Labels: extras

fix(extra spotify_player): Use terminal.white for white
  lua/tokyonight/extra/spotify_player.lua
Labels: extras

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
