Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

Remove todo comment
  lua/tokyonight/extra/zathura.lua
Labels: extras

Add fix comment
  lua/tokyonight/extra/zathura.lua
Labels: extras

fix: incorrect bounds for obtaining blue component
  lua/tokyonight/extra/zathura.lua
Labels: extras

Use more compact field access for substrings
  lua/tokyonight/extra/zathura.lua
Labels: extras

Remove tostring function
  lua/tokyonight/extra/zathura.lua
Labels: extras

Rename parameter to reduce confusion
  lua/tokyonight/extra/zathura.lua
Labels: extras

refactor: inserting colors is more concise now
  lua/tokyonight/extra/zathura.lua
Labels: extras

Rename key-value variables specific to function parameter
  lua/tokyonight/extra/zathura.lua
Labels: extras

fix: hexIndex now increments correct amount
  lua/tokyonight/extra/zathura.lua
Labels: extras

feat(eza): add theme
  extras/eza/README.md
  extras/eza/tokyonight.yml
Labels: none

refactor(color conversion): separate check logic into function
  lua/tokyonight/extra/zathura.lua
Labels: extras

docs(zathura): add comments to document custom table function
  lua/tokyonight/extra/zathura.lua
Labels: extras

refactor(color conversion): assign to variables first, then insert
  lua/tokyonight/extra/zathura.lua
Labels: extras

chore(zathura): remove note comment
  lua/tokyonight/extra/zathura.lua
Labels: extras

style(zathura): improve clarity of variable names
  lua/tokyonight/extra/zathura.lua
Labels: extras

feat(extras): add termux colors
  extras/termux/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/termux.lua
Labels: extras

doc: Update README.md
  README.md
Labels: none

docs(readme): fix underscore colours guide (#646)
  README.md
Labels: none

fix(which-key): delete duplicate WhichKeySeparator group (#639)
  lua/tokyonight/groups/which-key.lua
Labels: groups

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat: bright ansi colors
  lua/tokyonight/colors/init.lua
  lua/tokyonight/extra/kitty.lua
  lua/tokyonight/extra/wezterm.lua
  lua/tokyonight/theme.lua
  lua/tokyonight/util.lua
Labels: extras, colors

feat(terminal): bright ansi colors (#648)
  lua/tokyonight/colors/init.lua
  lua/tokyonight/extra/kitty.lua
  lua/tokyonight/extra/wezterm.lua
  lua/tokyonight/theme.lua
  lua/tokyonight/util.lua
Labels: extras, colors

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/kitty/tokyonight_day.conf
  extras/kitty/tokyonight_moon.conf
  extras/kitty/tokyonight_night.conf
  extras/kitty/tokyonight_storm.conf
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/wezterm/tokyonight_day.toml
  extras/wezterm/tokyonight_moon.toml
  extras/wezterm/tokyonight_night.toml
  extras/wezterm/tokyonight_storm.toml
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

feat(extras): added Ghostty themes
  lua/tokyonight/extra/ghostty.lua
  lua/tokyonight/extra/init.lua
Labels: extras

chore(build): auto-generated build files
  extras/ghostty/tokyonight_day
  extras/ghostty/tokyonight_moon
  extras/ghostty/tokyonight_night
  extras/ghostty/tokyonight_storm
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

feat(extras): add termux colors (#645)
  extras/termux/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/termux.lua
Labels: extras

feat(extras): add eza theme (#643)
  extras/eza/README.md
  extras/eza/tokyonight.yml
Labels: none

chore(build): auto-generated build files
  extras/termux/tokyonight_day.properties
  extras/termux/tokyonight_moon.properties
  extras/termux/tokyonight_night.properties
  extras/termux/tokyonight_storm.properties
Labels: none

chore(build): auto-generate docs
  README.md
  doc/tokyonight.nvim.txt
Labels: none

docs: added ghostty readme
  extras/ghostty/README.md
Labels: none

docs: ghostty
  extras/ghostty/README.md
Labels: none

fix(termux): update termux theme to use the new terminal colors
  lua/tokyonight/extra/termux.lua
Labels: extras

fix(termux): update termux theme to use the new terminal colors (#651)
  lua/tokyonight/extra/termux.lua
Labels: extras

chore(build): auto-generated build files
  extras/termux/tokyonight_day.properties
  extras/termux/tokyonight_moon.properties
  extras/termux/tokyonight_night.properties
  extras/termux/tokyonight_storm.properties
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

fix(aerc): make diff colors more readable
  extras/aerc/tokyonight_night.ini
Labels: none

fix(alacritty): update alacritty theme to use the new terminal colors
  lua/tokyonight/extra/alacritty.lua
Labels: extras

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"
