Repository folke/tokyonight.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/tokyonight/**"
          - all-globs-to-all-files:
              - "!lua/tokyonight/groups/**"
              - "!lua/tokyonight/colors/**"
              - "!lua/tokyonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/tokyonight/groups/base.lua"
          - "lua/tokyonight/groups/kinds.lua"
          - "lua/tokyonight/groups/treesitter.lua"
          - "lua/tokyonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/tokyonight/colors/**"

feat: Add `ui.bufferline.active` styles for helix
  lua/tokyonight/extra/helix.lua
Labels: extras

remove TODO comment
  lua/tokyonight/extra/yazi.lua
Labels: extras

fix: correct the key "complete" -> "cmp"
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat: make ui closer to neovim tokyonight theme
  lua/tokyonight/extra/yazi.lua
Labels: extras

rename some variable
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): add Vivaldi Browser themes
  extras/vivaldi/README.md
  extras/vivaldi/build
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/vivaldi.lua
Labels: extras

Update vivaldi.lua
  lua/tokyonight/extra/vivaldi.lua
Labels: extras

cleanup alacritty
  lua/tokyonight/extra/alacritty.lua
Labels: extras

feat(extra): add aider theme
  extras/aider/README.md
  lua/tokyonight/extra/aider.lua
  lua/tokyonight/extra/init.lua
Labels: extras

add pyproject file
  extras/pygments/pyproject.toml
Labels: none

fix readme
  extras/pygments/README.md
Labels: none

feat(extra): add Pygments style classes
  extras/pygments/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/pygments.lua
  pygments.md
Labels: extras

add gitignore
  extras/pygments/.gitignore
Labels: none

adjust comment column length
  lua/tokyonight/extra/pygments.lua
Labels: extras

Update Pygments README with installation and usage instructions
  extras/pygments/README.md
Labels: none

fix missing space
  extras/pygments/pyproject.toml
Labels: none

keep pygments version in sync
  extras/pygments/pyproject.toml
  lua/tokyonight/extra/pygments.lua
Labels: extras

oops, remove reference docs
  pygments.md
Labels: none

feat(extra): add Tailwind CSS v4
  extras/tailwindv4/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/tailwindv4.lua
Labels: extras

remove unneeded setting of name on colors table
  lua/tokyonight/extra/tailwindv4.lua
Labels: extras

adjust URLs to vertical layout and fix some typos
  extras/tailwindv4/README.md
Labels: none

feat: add Starship theme for Tokyonight Storm
  extras/starship/starship.toml
Labels: none

feat(extra): migrate eza to theme builder
  extras/eza/README.md
  extras/eza/tokyonight.yml
  lua/tokyonight/extra/eza.lua
  lua/tokyonight/extra/init.lua
Labels: extras

Added themes for iSH, an x86 emulator for iOS.
  lua/tokyonight/extra/iSH.lua
  lua/tokyonight/extra/init.lua
Labels: extras

feat(extra): add btop themes
  lua/tokyonight/extra/btop.lua
  lua/tokyonight/extra/init.lua
Labels: extras

feat(extras): added qterminal theme
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/qterminal.lua
Labels: extras

feat(extra): base16 and base24 schemes
  extras/base16/tokyonight_day.yaml
  extras/base16/tokyonight_moon.yaml
  extras/base16/tokyonight_night.yaml
  extras/base16/tokyonight_storm.yaml
  extras/base24/tokyonight_day.yaml
  extras/base24/tokyonight_moon.yaml
  extras/base24/tokyonight_night.yaml
  extras/base24/tokyonight_storm.yaml
  lua/tokyonight/extra/base16.lua
  lua/tokyonight/extra/base24.lua
  lua/tokyonight/extra/init.lua
Labels: extras

fix(fish): extra indent
  lua/tokyonight/extra/fish.lua
  lua/tokyonight/extra/fish_themes.lua
Labels: extras

fix(extra yazi): replace deprecated `manager` table
  lua/tokyonight/extra/yazi.lua
Labels: extras

feat(extra): add themes for opencode
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/opencode.lua
Labels: extras

fix(barbar): add highlight groups for gitsigns
  lua/tokyonight/groups/barbar.lua
Labels: groups

feat(extra): add nix theme support
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/nix.lua
Labels: extras

corrected misprint
  NEWS.md
Labels: none

Revert "fix(treesitter): import module color (#674)"
  lua/tokyonight/groups/treesitter.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/helix/tokyonight_day.toml
  extras/helix/tokyonight_moon.toml
  extras/helix/tokyonight_night.toml
  extras/helix/tokyonight_storm.toml
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none

build: rename mini plugin
  .lazy.lua
Labels: none

feat(base): added support for `vim.lsp.inline_completion`
  lua/tokyonight/groups/base.lua
Labels: groups, base

chore(build): auto-generated build files
  extras/lua/tokyonight_day.lua
  extras/lua/tokyonight_moon.lua
  extras/lua/tokyonight_night.lua
  extras/lua/tokyonight_storm.lua
  extras/vim/colors/tokyonight-day.vim
  extras/vim/colors/tokyonight-moon.vim
  extras/vim/colors/tokyonight-night.vim
  extras/vim/colors/tokyonight-storm.vim
Labels: none

chore(build): auto-generate docs
  doc/tokyonight.nvim.txt
Labels: none
