Repository folke/tokyonight.nvim, pull requests merged in 2024-10, with the labels that each got.

#640 fix(terminal): assign magenta to correct terminal color
  lua/tokyonight/groups/base.lua
  lua/tokyonight/theme.lua
Labels: groups, base

#639 fix(which-key): delete duplicate WhichKeySeparator group
  lua/tokyonight/groups/which-key.lua
Labels: groups

#648 feat(terminal): bright ansi colors
  lua/tokyonight/colors/init.lua
  lua/tokyonight/extra/kitty.lua
  lua/tokyonight/extra/wezterm.lua
  lua/tokyonight/theme.lua
  lua/tokyonight/util.lua
Labels: extras, colors

#645 feat(extras): add termux colors
  extras/termux/README.md
  lua/tokyonight/extra/init.lua
  lua/tokyonight/extra/termux.lua
Labels: extras

#651 fix(termux): update termux theme to use the new terminal colors
  lua/tokyonight/extra/termux.lua
Labels: extras
